---
import { Image } from "astro:assets";
import logoPng from "../assets/png/logo.png";
import fontchewy from "../assets/fonts/Chewy-Regular.ttf";
import placeholderImage from "../assets/placeholder/placeholder.png";
import smileyPng from "../assets/png/smiley.png";
---

<!-- TODO: Fix Z-indexes --><!-- TODO: Islands -->
<div id="container">
  <div
    class="fixed top-0 z-[99] py-14 flex justify-center w-full pointer-events-none"
  >
    <!-- TODO: Reduce Redundancy -->
    <div id="navbar" class="flex w-full mx-24">
      <div class="ml-24 flex pointer-events-auto">
        <a href="/">
          <Image src={logoPng} alt="logo" class="w-80 z-[99] logoImage" />
        </a>
      </div>
      <div class="flex justify-end w-full items-start gap-10 mt-7">
        <a href="#">
          <button
            class="primaryButton pointer-events-auto"
            onclick="alert('Test')">Blog</button
          >
        </a>
        <button class="primaryButton pointer-events-auto">About</button>
        <button class="primaryButton pointer-events-auto">Contact</button>
      </div>
    </div>
  </div>
  <!-- '4/3': '3/4': '16/9': '9/16': '3/2': '2/3': '5/4': '4/5' -->
  <!-- 4/5 & 3/4 -->
  <div class="grid grid-cols-3 mt-[23rem] mx-36">
    <!-- 1 -->
    <div class="galleryCardContainer yellowHover aspect-[2/3] w-[24rem]">
      <Image src={placeholderImage} class="galleryCardImage" alt="" />
    </div>
    <!-- 2 & Smiley -->
    <div>
      <div class="relative z-[53] -top-24 shrink pointer-events-none">
        <Image src={smileyPng} class="" alt="" />
      </div>
      <div
        class="galleryCardContainer blueHover aspect-[9/16] w-72 left-4 -top-28 z-[51]"
      >
        <Image src={placeholderImage} class="galleryCardImage" alt="" />
      </div>
    </div>
    <!-- 3 -->
    <div
      class="galleryCardContainer redHover aspect-[4/5] -rotate-12 top-12 w-96 -left-12"
    >
      <Image src={placeholderImage} class="galleryCardImage" alt="" />
    </div>
    <!-- 4 -->
    <div
      class="galleryCardContainer pinkHover aspect-[3/4] w-72 -top-72 left-12 z-[52] rotate-3"
    >
      <Image src={placeholderImage} class="galleryCardImage" alt="" />
    </div>
    <!-- 5 -->
    <div
      class="galleryCardContainer orangeHover aspect-[4/5] w-[32rem] -top-36 -left-8 z-[49] -rotate-3"
    >
      <Image src={placeholderImage} class="galleryCardImage" alt="" />
    </div>
    <!-- 6 -->
    <div>
      <div>
        <!-- Todo: Add vector content -->
      </div>
      <div
        class="galleryCardContainer yellowHover aspect-[16/9] w-[24rem] top-10 z-[49] rotate-6"
      >
        <Image src={placeholderImage} class="galleryCardImage" alt="" />
      </div>
    </div>
    <!-- 7 -->
    <div
      class="galleryCardContainer redHover aspect-[2/3] w-[24rem] -top-80 z-[49]"
    >
      <Image src={placeholderImage} class="galleryCardImage" alt="" />
    </div>
    <!-- 8 -->
    <div
      class="galleryCardContainer blueHover aspect-[16/9] w-[38rem] -top-48 left-24 z-[49] rotate-6"
    >
      <Image src={placeholderImage} class="galleryCardImage" alt="" />
    </div>
    <!-- 9 -->
    <div></div>
    <!-- 10 -->
    <div
      class="galleryCardContainer orangeHover aspect-[9/16] w-[24rem] -top-96 left-48 z-[49] rotate-3"
    >
      <Image src={placeholderImage} class="galleryCardImage" alt="" />
    </div>
    <!-- 11 -->
    <div
      class="galleryCardContainer pinkHover aspect-[3/2] w-[32rem] -top-72 left-36 z-[49] -rotate-3"
    >
      <Image src={placeholderImage} class="galleryCardImage" alt="" />
    </div>
  </div>
  <!-- Footer -->
  <div class="pb-5">
    <p class="text-center text-stone-400 text-sm">Tugce Alkan - tugcealkan.com</p>
  </div>
</div>

<style>
  @font-face {
    font-family: "Chewy";
    src: url("../assets/fonts/Chewy-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
  }

  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  body {
    background-color: #191a42; /* Navy blue background */
    background-image: url("../assets/png/background_overlay.png"); /* Path to the overlay image */
    background-repeat: repeat; /* Repeat the overlay pattern */
    background-size: auto; /* Keeps the original size of the overlay */
    background-position: center; /* Centers the overlay */
  }

  /* TODO: Split CSS to another file */
  /* TODO: make buttons & fonts responsive */
  @layer components {
    /* Logo */
    .logoImage {
      @apply w-80 transition-transform duration-200 ease-in-out;
    }
    .logoImage:hover {
      @apply transition-transform transform scale-110 duration-200 ease-in-out;
    }

    /* Primary Button */
    .primaryButton {
      @apply relative px-3 py-0.5 font-bold text-lime-300 bg-pink-500 rounded-md shadow-lg transition-transform duration-200 w-24
        chewy-regular text-2xl;
    }

    .primaryButton::before {
      content: "";
      @apply absolute inset-0 bg-lime-400 rounded-md -z-10 translate-x-1 translate-y-1;
    }

    .primaryButton:hover {
      @apply bg-pink-700 transition-colors duration-300;
    }

    .primaryButton {
      @apply transition-colors duration-300;
    }

    /* Gallery Card */
    .galleryCardContainer {
      @apply inline-flex rounded-md
        relative overflow-hidden
        w-64 h-auto;
      @apply shadow-xl;
    }

    .galleryCardBorder {
      @apply border-8 border-yellow-300;
    }

    .greenHover:hover {
      @apply transition-transform bg-green-300 cursor-pointer;
    }
    .blueHover:hover {
      @apply transition-transform bg-blue-300 cursor-pointer;
    }
    .yellowHover:hover {
      @apply transition-transform bg-yellow-300 cursor-pointer;
    }
    .redHover:hover {
      @apply transition-transform bg-red-300 cursor-pointer;
    }
    .pinkHover:hover {
      @apply transition-transform bg-pink-300 cursor-pointer;
    }
    .orangeHover:hover {
      @apply transition-transform bg-orange-400 cursor-pointer;
    }

    .greenHover::before,
    .blueHover::before,
    .yellowHover::before,
    .redHover::before,
    .pinkHover::before,
    .orangeHover::before {
      @apply absolute inset-0 opacity-0 transition-opacity duration-300 content-[''];
    }
    .greenHover::before {
      @apply bg-green-300;
    }
    .blueHover::before {
      @apply bg-blue-300;
    }
    .yellowHover::before {
      @apply bg-yellow-300;
    }
    .redHover::before {
      @apply bg-red-300;
    }
    .pinkHover::before {
      @apply bg-pink-300;
    }
    .orangeHover::before {
      @apply bg-orange-300;
    }

    .galleryCardContainer:hover::before {
      @apply opacity-100;
    }

    .galleryCardImage {
      @apply w-full h-full object-cover transition-transform duration-300;
    }
  }

  .chewy-regular {
    font-family: "Chewy", serif;
    font-weight: 400;
    font-style: normal;
  }

  /*
  *{
    border: 1px solid red;
  } 
  */
</style>
