---
import { Image } from 'astro:assets';
import logoPng from '../assets/png/logo.png';
import placeholderImage from '../assets/placeholder/placeholder.png';
---

<div id="container">
	<div class="sticky top-0 z-10 py-14 flex justify-center w-full">
        <!-- TODO: Reduce Redundancy -->
        <div id="navbar" class="flex w-full mx-24">
            <div class="ml-24 flex">
                <a href="/">
                    <Image src={logoPng} alt="logo" class="w-80"/>
                </a>
            </div>
            <div class="flex justify-end w-full items-center gap-10">
                <a href="#">
                    <button class="primaryButton" onclick="alert('Test')">Blog</button>
                </a>
                <button class="primaryButton">About</button>
                <button class="primaryButton">Contact</button>
            </div>
        </div>
    </div>
    <div id="body" class="relative mt-24 mx-24 grid gap-24">
        <!-- 16:9  9:16  3:2  2:3  4:5  5:4 -->
        <div class="galleryCardContainer absolute left-8 top-12  aspect-[2/3] w-1/3 z-[1]">
            <Image src={placeholderImage} class="galleryCardImage" alt="" class="galleryCardImage"/>
        </div>
        <div class="galleryCardContainer galleryCardBorder absolute right-24 aspect-[4/5] w-80 ">
          <Image src={placeholderImage} class="galleryCardImage" alt="" class="galleryCardImage"/>
        </div>
        <div class="galleryCardContainer absolute left-96 top-48 aspect-[16/9] w-1/2">
          <Image src={placeholderImage} class="galleryCardImage" alt="" class="galleryCardImage"/>
        </div>
        <div class="galleryCardContainer absolute">
          <Image src={placeholderImage} class="galleryCardImage" alt="" class="galleryCardImage"/>
        </div>
    </div>
</div>

<style>
	@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');

	@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #191a42; /* Navy blue background */
    background-image: url('../assets/png/background_overlay.png'); /* Path to the overlay image */
    background-repeat: repeat; /* Repeat the overlay pattern */
    background-size: auto; /* Keeps the original size of the overlay */
    background-position: center; /* Centers the overlay */
}

/* TODO: make buttons & fonts responsive */
@layer components {

  /* Primary Button */
    .primaryButton {
      @apply relative px-3 py-0.5 font-bold text-lime-300 bg-pink-500 rounded-md shadow-lg transition-transform duration-200 w-24
      chewy-regular text-2xl;
    }
  
    .primaryButton::before {
      content: '';
      @apply absolute inset-0 bg-lime-400 rounded-md -z-10 translate-x-1 translate-y-1;
    }
  
    .primaryButton:hover {
      @apply bg-pink-700 transition-colors duration-300;
    }

    .primaryButton {
      @apply transition-colors duration-300;
    }

    /* Gallery Card */
    .galleryCardContainer {
      @apply inline-flex rounded-md
      relative overflow-hidden
      w-64 h-auto;
      @apply shadow-xl;
    }

    .galleryCardBorder {
      @apply border-8 border-yellow-300;
    }

    .galleryCardContainer:hover {
      @apply transition-transform bg-yellow-300
      cursor-pointer;
    }

    .galleryCardContainer::before {
      @apply absolute inset-0 bg-yellow-300 opacity-0 transition-opacity duration-300 content-[''];
    }

    .galleryCardContainer:hover::before {
      @apply opacity-100;
    }

    .galleryCardImage {
      @apply w-full h-full object-cover transition-transform duration-300;
    }
}

.chewy-regular {
    font-family: "Chewy", serif;
    font-weight: 400;
    font-style: normal;
}

/*
*{
  border: 1px solid red;
} 
*/
</style>